<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="wmc" type="WmcSoft.Configuration.TestSection, WmcSoft.Configuration.Tests"/>
  </configSections>
  <wmc>
    <mailPolicies>
      <add name="SendNewsletter" subject="Newsletter" to="subscribers@rules.wmcsoft.com" bcc="webmaster@wmcsoft.com" replyTo="noreply@wmcsoft.com"/>
    </mailPolicies>
  </wmc>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
