<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="wmc" type="WmcSoft.Configuration.Tests.TestSection, WmcSoft.Core.Tests" />
	</configSections>
	<wmc>
		<mailPolicies>
			<add name="SendNewsletter" subject="Newsletter" to="subscribers@rules.wmcsoft.com" bcc="webmaster@wmcsoft.com" replyTo="noreply@wmcsoft.com" />
		</mailPolicies>
	</wmc>
</configuration>