<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="wmc" type="WmcSoft.Configuration.TestSection, WmcSoft.Core.Tests"/>
  </configSections>
  <wmc>
    <checkpoints>
      <add name="checkpoint1" description="Checkpoint 1" level="25" type="WmcSoft.Configuration.CheckpointA, WmcSoft.Core.Tests" />
      <add name="checkpoint2" description="Checkpoint 2" level="2"  type="WmcSoft.Configuration.CheckpointB, WmcSoft.Core.Tests" />
      <add name="checkpoint3" description="Checkpoint 3" level="25" type="WmcSoft.Configuration.CheckpointB, WmcSoft.Core.Tests" />
    </checkpoints>
  </wmc>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
</configuration>
