<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="wmc" type="WmcSoft.Configuration.TestSection, WmcSoft.Configuration.Tests"/>
  </configSections>
  <wmc>
    <checkpoints>
      <add name="checkpoint1" description="Checkpoint 1" undefined="Value 1" level="5" type="WmcSoft.Configuration.CheckpointA, WmcSoft.Configuration.Tests" />
      <add name="checkpoint2" description="Checkpoint 2" undefined="Value 2" level="2" type="WmcSoft.Configuration.CheckpointA, WmcSoft.Configuration.Tests" />
    </checkpoints>
  </wmc>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
</configuration>
